*,*:before,*:after {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: serif;
    color: #333;
    background-color: #666;
}
.container {
    width: 1100px;
    height: auto;
    margin: auto;
    background-color: #fff;
}

#topInfo {
    height: 50px;
    line-height: 50px;
    background-color: #333;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    .container {
        background-color: transparent;
        position: relative;
        .text {
            display: inline-block;
        }
        .mainTopGoToProject {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 80px;
        }
        .closeBtn {
            position: relative;
            top: 50%;
            right: 0;
            span {
                width: 30px;
                height: 1px;
                position: absolute;
                background-color: #666;
            }
        }
    }
}

#header {
    width: 100vw;
    height: 100px;
    
}