#myPageContainer {
    height: 100%;
    padding: 106px 0;
    text-align: center;
    #title {
        margin-bottom: 95px;
        font-size: 4rem;
        font-weight: 700;
    }
    .inner {
        width: 800px;
        margin: auto;
        text-align: left;
        .imgBox {
            width: 350px;
            display: inline-block;
            img {
                width: 100%;
            }
        }
        .txtBox {
            vertical-align: top;
            display: inline-block;
            margin-left: 50px;
            div {
                margin-bottom: 15px;
                input {
                    margin-left: 20px;
                    width: 250px;
                    padding: 7px 0 7px 7px;
                    font-size: 1.6rem;
                    border: 1px solid #a200bc;
                }
                button {
                    margin-left: 10px;
                    padding: 9px 20px;
                }
            }
            .title {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 5px;
            }
            #email {
                font-size: 1.8rem;
                margin-left: 20px;
            }
        }
       
    }
}