#myPageContainer {
    height: 100%;
    padding: 138px 0;
    text-align: center;
    #title {
        margin-bottom: 95px;
        font-size: 4rem;
        font-weight: 700;
    }
    .inner {
        width: 800px;
        margin: auto;
        text-align: left;
        .profileImgBox {
            width: 350px;
            display: inline-block;
            #profileImagesDiv {
                margin-bottom: 30px;
            }
            #profileImgUploadForm {
                display: inline-block;
                input {
                    width: 230px;
                }
            }

            img {
                width: 100%;
            }
        }

        .txtBox {
            vertical-align: top;
            display: inline-block;
            margin-left: 50px;
            div {
                margin-bottom: 15px;
                input {
                    margin-left: 20px;
                    width: 250px;
                    padding: 7px 0 7px 7px;
                    font-size: 1.6rem;
                    border: 1px solid #a200bc;
                }
                button {
                    margin-left: 10px;
                    padding: 9px 20px;
                }
            }
            .title {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 5px;
            }
            #email {
                font-size: 1.8rem;
                margin-left: 20px;
            }
        }
       
    }
}

#myProjectContainer {
    height: 100%;
    padding: 138px 0;
    text-align: center;
    #title {
        margin-bottom: 95px;
        font-size: 4rem;
        font-weight: 700;
    }
    .inner {
        width: 800px;
        margin: auto;
        text-align: left;
        #myProjectUl {
            width: 100%;
            li {
                width: 100%;
                height: 180px;
                margin-bottom: 30px;
                text-align: left;
                position: relative;
                padding: 0 20px 20px;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    display: block;
                    background-color: #d9d9d9;
                    width: 100%;
                    height: 1px;
                }
                .imgBox {
                    display: inline-block;
                    width: 280px;
                    height: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .txtBox {
                    display: inline-block;
                    width: 420px;
                    padding: 0 30px;
                    vertical-align: top;
                    .title {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }
            }                
        }
    }
}