#myPageContainer {
    height: 100%;
    padding: 106px 0;
    text-align: center;
    #title {
        margin-bottom: 95px;
        font-size: 4rem;
        font-weight: 700;
    }
    .inner {
        width: 800px;
        margin: auto;
        text-align: left;
        .imgBox {
            width: 300px;
            display: inline-block;
            img {
                width: 100%;
            }
        }
        .txtBox {
            vertical-align: top;
            display: inline-block;
            #nickName {
                font-size: 2.4rem;
                font-weight: 500;
            }
            #email {
                font-size: 1.8rem;
            }
        }
       
    }
}