#joinContainer {
  height: 100%;
  padding: 106px 0;
  text-align: center;
}

#joinContainer #title {
  margin-bottom: 95px;
  font-size: 4rem;
  font-weight: 700;
}

#joinContainer .inner {
  width: 525px;
  margin: auto;
  text-align: left;
}

#joinContainer .inner p {
  width: 100px;
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 50px;
  font-weight: 700;
}

#joinContainer .inner input {
  width: 370px;
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

#joinContainer .inner button {
  margin-top: 61px;
  width: 100%;
  padding: 15px 0;
  font-size: 1.6rem;
}

#loginContainer {
  height: 100%;
  padding: 106px 0;
  text-align: center;
}

#loginContainer #title {
  margin-bottom: 95px;
  font-size: 4rem;
  font-weight: 700;
}

#loginContainer .inner {
  width: 525px;
  margin: auto;
  text-align: left;
}

#loginContainer .inner p {
  width: 100px;
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 50px;
  font-weight: 700;
}

#loginContainer .inner input {
  width: 370px;
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

#loginContainer .inner button {
  width: 100%;
  padding: 15px 0;
  font-size: 1.6rem;
}

#loginContainer .inner #loginBtn {
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #a200bc;
}

#loginContainer .inner #signUpBtn {
  background-color: #666;
}

.util {
  display: none;
}
