#projectDetailVisual {
  height: 100%;
  padding: 106px 0;
  text-align: center;
}

#projectDetailVisual #title {
  margin-bottom: 105px;
  font-size: 4rem;
  font-weight: 700;
}

#projectDetailVisual .inner > p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
}

#projectDetailVisual .inner #checkDate {
  padding: 5px 10px;
  font-size: 1.6rem;
  border-color: #a200bc;
  outline: none;
}

#projectDetailVisual .inner li {
  width: 20%;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 1%;
  border: 2px solid #666;
  padding-bottom: 20px;
}

#projectDetailVisual .inner li .imgBox {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #d9d9d9;
}

#projectDetailVisual .inner li .imgBox img {
  height: 100%;
}

#projectDetailVisual .inner li .imgBox img.width {
  width: 100%;
}

#projectDetailVisual .inner li .imgBox p {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: #fff;
  z-index: 2;
}

#projectDetailVisual .inner li .imgBox .likeBtn {
  position: absolute;
  font-size: 1.6rem;
  top: 20px;
  right: 20px;
  border: none;
  background-color: #a200bc;
  border-radius: 100px;
  padding: 2px 7px;
  outline: none;
  color: #fff;
}

#projectDetailVisual .inner li .imgBox .likeBtn span {
  margin-right: -3px;
  font-weight: normal;
}

#projectDetailVisual .inner li .imgBox .likeBtn i {
  font-size: 1.6rem;
}

#projectDetailVisual .inner li .desc p {
  font-size: 2rem;
  margin-bottom: 5px;
}

#projectDetailVisual .inner li .desc .content {
  font-size: 1.6rem;
  padding: 0 20px;
}
